/* css */

body {
	white-space: pre-line;
}


p {
    font-family: "Baskerville";
    text-align: left;
}


h1 {
    font-size: 28px;
    text-align: center;
}


h2 {
    font-family: "Baskerville";
    font-size: 16px;
    text-align: center;
}


h3 {
	font-family: "Arial";
	font-size: 18px;
	text-align: left;
	text-decoration: underline;
}


ol.c {
    list-style-type: circle;
}